@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 96%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 96%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 262 52% 57%;
    --primary-foreground: 262 52% 97%;
    --secondary: 262 30% 96%;
    --secondary-foreground: 262 30% 20%;
    --muted: 262 30% 96%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 217 91% 60%;
    --accent-foreground: 217 91% 97%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 262 52% 85%;
    --input: 262 52% 95%;
    --ring: 262 52% 57%;
    --radius: 0.8rem;
    --sidebar-background: 262 30% 98%;
    --sidebar-foreground: 262 30% 25%;
    --sidebar-primary: 262 52% 57%;
    --sidebar-primary-foreground: 262 52% 97%;
    --sidebar-accent: 262 52% 92%;
    --sidebar-accent-foreground: 262 52% 15%;
    --sidebar-border: 262 20% 90%;
    --sidebar-ring: 262 52% 57%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 52% 57%;
    --primary-foreground: 262 52% 97%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 217 91% 60%;
    --accent-foreground: 217 91% 97%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 262 52% 57%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 262 52% 57%;
    --sidebar-primary-foreground: 262 52% 97%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 262 52% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
