@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 240 10% 3.9%;
    --card: 60 56% 91%;
    --card-foreground: 240 10% 3.9%;
    --popover: 60 56% 91%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 270 43% 70%;
    --primary-foreground: 270 43% 10%;
    --secondary: 270 30% 96%;
    --secondary-foreground: 270 30% 20%;
    --muted: 270 30% 96%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 4 80% 83%;
    --accent-foreground: 4 80% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 43% 85%;
    --input: 270 43% 95%;
    --ring: 270 43% 70%;
    --radius: 0.8rem;
    --sidebar-background: 270 30% 98%;
    --sidebar-foreground: 270 30% 25%;
    --sidebar-primary: 270 43% 70%;
    --sidebar-primary-foreground: 270 43% 10%;
    --sidebar-accent: 270 43% 92%;
    --sidebar-accent-foreground: 270 43% 15%;
    --sidebar-border: 270 20% 90%;
    --sidebar-ring: 270 43% 70%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 270 43% 70%;
    --primary-foreground: 270 43% 15%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 4 80% 83%;
    --accent-foreground: 4 80% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 270 43% 70%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 270 43% 70%;
    --sidebar-primary-foreground: 270 43% 15%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 270 43% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
